<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ judul }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'snippets/style.html' %}
    <!-- <style>
        #main-app{
            margin-top: 20px;
        }
    </style> -->
</head>
<body>
    {% include 'snippets/navbar.html' %}
    <div class="container" id="main-app">
        
        {% block main %}
            
        {% endblock main %}
            
    </div>
    {% include 'snippets/script.html' %}
    
    {% block script %}
        
    {% endblock script %}
</body>
</html>