{% extends 'base.html' %}


{% block main %}
<div class="jumbotron jumbotron-fluid" style="background-color: #74b9ff; color: white;">
    <div class="container">
        <h1 class="display-4">Online Donation</h1>
        <p class="lead">This is just simple donation web with Midtrans.</p>
    </div>
</div>
<form>
    <div class="row">
        <div class="col-md-4">
            <label for="exampleInputEmail1">Email Address</label>
            <input type="email" class="form-control" name="emailUser" id="emailUser" aria-describedby="emailHelp" placeholder="Enter email">
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>
        <div class="col-md-4">
            <label for="exampleInputEmail1">Name</label>
            <input type="text" class="form-control" id="nameUser" aria-describedby="userHelp" placeholder="Enter name">
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>
        <div class="col-md-4">
            <label for="exampleInputEmail1">Donation Type</label>
            <select id="donateType" name="donateType" class="form-control">
                <option selected>Choose...</option>
                <option value="edu">Education</option>
                <option value="hlth">Health</option>
                <option value="infr">Infrastructure</option>
            </select>
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label for="exampleInputEmail1">Amount</label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">Rp</div>
                </div>
                <input type="text" class="form-control" name="amountInput" id="amountInput" placeholder="Amount">
            </div>
        </div>
        <div class="col-md-6">
                <label for="exampleInputEmail1">Note</label>
                <textarea class="form-control" name="textNote" id="textNote" rows="3"></textarea>
        </div>
    </div>
    <button type="submit" class="btn btn-success">SUBMIT</button>
</form>
{% endblock main %}

{% block script %}
    <script>
        $('.btn').on('click',function(e){
            alert('Hello')
        })
    </script>
{% endblock script %}